<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>729702121869-hs7adshqhallan4j0utead7so4ekc4bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729702121869-hs7adshqhallan4j0utead7so4ekc4bh</string>
	<key>API_KEY</key>
	<string>AIzaSyDhAb4cNMnrQhHhFV6Sa7BtPjxuOe5AeHU</string>
	<key>GCM_SENDER_ID</key>
	<string>729702121869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SocialApp.Stevens-Social-v1</string>
	<key>PROJECT_ID</key>
	<string>stevens-social</string>
	<key>STORAGE_BUCKET</key>
	<string>stevens-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729702121869:ios:cbf0d762a8391ec1</string>
	<key>DATABASE_URL</key>
	<string>https://stevens-social.firebaseio.com</string>
</dict>
</plist>