{% extends 'base.html' %}

{% block body %}
<div class="container">

<div class = "header row">
  <div class = "title col-md-3">
    <h2>Duck Hacker</h2>
  </div>
  <div class = "email col-md-2">
    cthden@stevens.edu
  </div>
  <div class = "toolbar col-md-7">
    <ul class = "nav navbar-nav">
      <li>
        <a>Home</a>
      </li>
      <li>
        <a>Pages</a>
      </li>
      <li>
        <a>My Account</a>
      </li>
      <li>
        <a>Contact</a>
      </li>
      <li>
          <input type = "text" class="form-control">
      </li>
    </ul>
</div>
</div>

<div class = "menu">
  <ul>
    <li>
      <div>
      <button class="btn btn-block">New Question</button>
      </div>
    </li>
    <li>
      <div>
      <button class="btn btn-block">New Experience</button>
      </div>
    </li>
    <li>
      <div>
      <button class="btn btn-block">My Question</button>
      </div>
    </li>
    <li>
      <div>
      <button class="btn btn-block">Topics</button>
      </div>
    </li>
  </ul>
</div>

<div class = "content">
  <h1>Experience</h1>
  <div class = "addanswers">
      <h3>Experiences</h3>
        <table>
           {% for post in experiences %}
              <tr>
                <p><b>{{ post.actor }}</b>: {{ post.tweet }}</p>
                  <p>{{post.votes}}</p>
                <input  name="voteup" type="submit" id="up{{post.id}}" value="Vote Up" onclick="voteup('{{post.id}}')" />
                <input name="votedown" type="submit" id="down{{post.id}}" value="Vote Down"
                   onclick="votedown('{{post.id}}')"/>
                <hr/>
              </tr>
           {% endfor %}
        </table>
      <h3>Add Experience</h3>
        <form action = "/experience/submit" method = "POST" enctype="multipart/form-data">
        <input type="text" name="Experience" id="Experience" class = "answer"/>
        <input type="file" value="Upload File" name="file"/>
        <input type="submit" value="Submit"/>
    </form>
  </div>
</div>
{% endblock %}