<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Bootstrap -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/main.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
{%block body%}
<div class="container" xmlns="http://www.w3.org/1999/html">

    <div class = "header row">
      <div class = "title col-md-3">
        <h2>Duck Hacker</h2>
      </div>
      <div class = "email col-md-2">
      </div>
      <div class = "toolbar col-md-7">
        <ul class = "nav navbar-nav">
          <li>
            <a>Home</a>
          </li>
          <li>
            <a>Pages</a>
          </li>
          <li>
            <a>My Account</a>
          </li>
          <li>
            <a>Contact</a>
          </li>
          <li>
              <input type = "text" class="form-control">
          </li>
        </ul>
       </div>
    </div>
</div>

<div class="content" align="center">
    <h3>DuckHacker Login</h3>
    <div class="submit">
        <P>{{error}}</P>
        <form action="/login" method="post">
            <input type="email" name="user_email" placeholder="atila@stevens.edu" align="center"/><br/><br/>
            <input type="password" name="user_pswrd" placeholder="password---" align="center"/><br/><br/>
            <button type="submit" align="center" class="btn">Login</button>
        </form>
        <h3>OR </h3>
        <h4>Sign Up below</h4>
        <form action="/signup" method="post">
            <input type="text" name="user_name" placeholder="Username" align="center"><br/><br/>
            <input type="email" name="user_email" placeholder="atila@stevens.edu" align="center"/><br/><br/>
            <input type="password" name="user_pswrd" placeholder="password---" align="center"/><br/><br/>
            <!--<p>Upload Photo:</p><input type="file" name="user_photo" align="center"><br/><br/>-->
            <button type="submit" align="center" class="btn">Register</button>
        </form>
    </div>
</div>
{%endblock%}
</body>
</html>
