{% extends 'base.html' %}

{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">

<div class = "header row">
  <div class = "title col-md-3">
    <h2>Duck Hacker</h2>
  </div>
  <div class = "email col-md-2">
    {{username}}
  </div>
  <div class = "toolbar col-md-7" align="right">
    <ul class = "nav navbar-nav">
      <li>
           <a href="{{url_for('logout')}}">Logout</a>
      </li>
    </ul>
</div>
</div>

<div class = "menu">
   <form action ="/menu" method = "post">
  <ul>
    <li>
      <div>
      <button type="submit" value="Profile" name="menu" class="btn btn-block">Profile</button>
      </div>
    </li>
    <li>
      <div>
      <button type="submit" value="Experience" name="menu" class="btn btn-block">Experience</button>
      </div>
    </li>
    <li>
      <div>
      <button type="submit" value="newQuestion" name="menu" class="btn btn-block">New Question</button>
      </div>
    </li>
    <li>
      <div>
      <button type="submit" value="Topics" name="menu" class="btn btn-block">Topics</button>
      </div>
    </li>
  </ul>
  </form>
</div>

<div>
  <h1>Topics</h1>
  <div class = "menu_topic">
        <form action = "/question/topic" method = "POST" enctype="multipart/form-data">
          <ul>
            <li>
              <div>
              <button type="submit" value="Algorithm" name="topic" class="btn btn-block">Algorithm</button>
              </div>
            </li>
            <li>
              <div>
              <button type="submit" value="DataAnalysis" name="topic" class="btn btn-block">Data Analysis</button>
              </div>
            </li>
            <li>
              <div>
              <button type="submit" value="SoftwareEngineering" name="topic" class="btn btn-block">Software Engineering</button>
              </div>
            </li>
            <li>
              <div>
              <button type="submit" value="SystemsEngineering" name="topic" class="btn btn-block">Systems Engineering</button>
              </div>
            </li>
            <li>
              <div>
              <button type="submit" value="Testing" name="topic" class="btn btn-block">Testing</button>
              </div>
            </li>
        </ul>
    </form>

    <form action="/topic/question" method="POST" enctype="multipart/form-data">
      {% for post in questions %}

               <p><b>{{post.title}}</b></p><br/><br/>
                {{post.question}}
                <button type="submit" value="{{post._id}}" name ='solve' class="btn"> Solve</button>

      <hr/>

           {% endfor %}
       </form>
  </div>
</div>
{% endblock %}